
header>input{
    width:275px;
}


    /*主体部分**************************开始******************/
div.section{
    width:1160px;
    margin:0 auto;
}
    div.logInBox{
        width:100%;
        position: relative;
    }
    .denglu{
        width:100%;
        height:50px;
    }
    .denglu>span{
        width:509px;
        height:1px;
        background-color: #000;
        display:inline-block;
    }
    .denglu>img{
        display:inline-block;
    }
    div.logInBox>div.register{
        width:50%;
        margin:10px auto;
    }
    div.logInBox>div.register>form{
        width:100%;
        padding:0 45px;
    }
    div.logInBox>div.register>form>input{
        width:80%;
        height:40px;
        border:1px solid darkgrey;
        border-radius: 3px;
        padding-left:8px;
        font-size: 16px;
        margin:20px 0;
    }
    div.logInBox>div.register>form>.phone{
        width:100%;
        height:40px;
        border-radius: 3px;
        font-size: 16px;
        margin:20px 0;
    }
    div.logInBox>div.register>form>.phone>select{
        width:20%;
        height:40px;
        line-height: 40px;
        float:left;
        border:1px solid darkgrey;
        border-radius: 3px;
        padding-left:8px;
    }
    div.logInBox>div.register>form>.phone>input{
        width:55%;
        margin-left:20px;
        height:40px;
        line-height: 40px;
        float:left;
        border:1px solid darkgrey;
        border-radius: 3px;
        padding-left:8px;
    }
    div.logInBox>div.register>form>.phoneYz{
        margin:20px 0;
        width:100%;
        height:40px;
        font-size:16px;
        position: relative;
        float:left;
    }
    div.logInBox>div.register>form>.phoneYz>input{
        width:80%;
        height:40px;
        position: absolute;
        border:1px solid darkgrey;
        border-radius: 3px;
        padding-left:8px;
        background-color: gainsboro;
    }
    div.logInBox>div.register>form>.phoneYz>a{
        width:20%;
        height:41px;
        line-height: 41px;
        text-align: center;
        position: absolute;
        z-index: 1;
        background-color: #03d0e3;
        border:1px solid darkgrey;
        border-radius: 3px;
        left:61.5%;
        top:1px;
    }
    div.logInBox>div.register>form>.phoneYz #yzmBox{
        position: absolute;
        left:40%;
        top:7px;
    }
    div.logInBox>div.register>form>.phoneYz>a:hover{
        background-color:#31b0d5;
        cursor:pointer;
    }
    div.logInBox>div.register>form>.check{
        width:100%;
        height:20px;
        float:left;
        position: relative;
    }
    div.logInBox>div.register>form>.check>input{
        position: absolute;
        top:2px;
        left:0;
    }
    div.logInBox>div.register>form>.check>label{
        padding:0;
        width:90%;
        font-size:12px;
        position: absolute;
        top:0;
        left:19px;
    }
    div.logInBox>div.register>form>input[type=button]{
        background-color: #03d0e3;
    }
    div.logInBox>div.register>form>input[type=button]:hover{
        background-color:#31b0d5;
    }
    div.logInBox>div.register>form>input[disabled]{
        background-color: #f2dede;
        color:#c0c0c0;

    }
    div.logInBox>div.register>form>input[disabled]:hover{
        background-color: #f2dede;
    }
    #eye{
        position: absolute;
        top:179px;
        left:790px;
    }
    #must-p,#must-u,#must-ph{
        position: absolute;
        left:815px;
        font-size:25px;

    }
    #must-p{
        top:174px;
    }
    #must-u{
        top:91px;
    }
    #must-ph{
        top:259px;
    }
    span.Arrow{
        position:absolute;
        left:685px;
        width:0;
        height:0;
        border:5px solid transparent;
        border-bottom:5px solid red;
        display:none;
    }
    #au{
        top:121px;
    }
    #ap{
        top:203px;
    }
    #aph{
        top:288px;
    }
    div.tip{
        position:absolute;
        left:590px;
        border-radius: 3px;
        border:1px solid red;
        color:red;
        font-weight: bold;
        display:none;
    }
    #du{
        top:130px;
    }
    #dp{
        top:210px;
    }
    #dph{
        top:290px;
    }
    div.em{
        position:absolute;
        left:683px;
        border-radius: 3px;
        border:1px solid red;
        color:red;
        font-weight: bold;
        display:none;
    }
    #eu{
        top:130px;
    }
    #ep{
        top:213px;
    }
    #eph{
        top:298px;
    }

    #yzmBox{
        position: absolute;
        top:5px;
        left:275px;
    }

    div.clear{
        clear: both;
    }
/*主体部分**************************结束******************/

    /*1200px以上视口样式表结尾*/
